# WordPress
*.log
wp-config.php

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Archives
*.zip
*.tar.gz
*.rar

# Node
node_modules/
npm-debug.log*

# Build artifacts
dist/
build/

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Environment
.env
.env.local

# Composer
vendor/
composer.lock
